# build output
build/

# intermediate output
**/Output/
/test/**/*.yaml
!arch_spec_example.yaml
!architecture.yaml
/test/**/*.asm
.lit_test_times.txt
lit.cfg
*.dot

# temporary files
tmp-*
*_final.mlir
*_mapped.mlir
*_processed.mlir
*_log.txt
*.backup

# vscode config
.clangd
.cache
.vscode

# misc